In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME', 'SPECIAL_CONSIDERATIONS', 'STATUS'.
application_df.drop(columns=['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS','STATUS', 'INCOME_AMT'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts[classification_counts > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() <= 1].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION','USE_CASE', 'ORGANIZATION'])

#Display the modified dataframe

print(application_df.head())

   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0     5000              1                       0                     1
1   108590              1                       0                     0
2     5000              0                       0                     0
3     6692              1                       0                     0
4   142590              1                       0                     0

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                     0                    0                    0
1                     0                    1                    0
2                     0                    0                    0
3                     0                    1                    0
4                     0                    1                    0

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    1                    0                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   AFFILIATION_Regional  USE_CASE_CommunityServ  USE_CASE_Heathcare  \
0                     0                       0                   0
1                     0                       0                   0
2                     0                       0                   0
3                     0                       0                   0
4                     0                       0                   1

   USE_CASE_Other  USE_CASE_Preservation  USE_CASE_ProductDev  \
0               0                      0                    1
1               0                      1                    0
2               0                      0                    1
3               0                      1                    0
4               0                      0                    0

   ORGANIZATION_Association  ORGANIZATION_Co-operative  \
0                         1                          0
1                         0                          1
2                         1                          0
3                         0                          0
4                         0                          0

   ORGANIZATION_Corporation  ORGANIZATION_Trust
0                         0                   0
1                         0                   0
2                         0                   0
3                         0                   1
4                         0                   1

[5 rows x 72 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Check the data types of X_train
print(X_train.dtypes)

ASK_AMT                      int64
APPLICATION_TYPE_Other       uint8
APPLICATION_TYPE_T10         uint8
APPLICATION_TYPE_T19         uint8
APPLICATION_TYPE_T3          uint8
                             ...
USE_CASE_ProductDev          uint8
ORGANIZATION_Association     uint8
ORGANIZATION_Co-operative    uint8
ORGANIZATION_Corporation     uint8
ORGANIZATION_Trust           uint8
Length: 71, dtype: object

In [12]:
# Check the data types of X_test
print(X_test.dtypes)

ASK_AMT                      int64
APPLICATION_TYPE_Other       uint8
APPLICATION_TYPE_T10         uint8
APPLICATION_TYPE_T19         uint8
APPLICATION_TYPE_T3          uint8
                             ...
USE_CASE_ProductDev          uint8
ORGANIZATION_Association     uint8
ORGANIZATION_Co-operative    uint8
ORGANIZATION_Corporation     uint8
ORGANIZATION_Trust           uint8
Length: 71, dtype: object

In [13]:
# Create a StandardScaler instances
X_scaler = StandardScaler()

# Fit the StandardScaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
print(X_train_scaled.shape)

(25724, 71)

Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
# Get the number of input features (columns) from the shape of X_train_scaled
input_features = X_train_scaled.shape[1]

# Define the number of nodes for each hidden layer
hidden_nodes_layer1 = 48
hidden_nodes_layer2 = 24

# Define the model - deep neural net
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 48)                3456

 dense_1 (Dense)             (None, 24)                1176

 dense_2 (Dense)             (None, 1)                 25

=================================================================
Total params: 4,657
Trainable params: 4,657
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 7ms/step - loss: 0.5800 - accuracy: 0.7170
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5619 - accuracy: 0.7252
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5588 - accuracy: 0.7250
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7254
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7261
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5554 - accuracy: 0.7261
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7276
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7282
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7279
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7287
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7289
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7297
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7298
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7304
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7301
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7304
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7308
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7312
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7308
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7303
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7312
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7305
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7316
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7323
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7315
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7325
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7320
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7321
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7317
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7322
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7325
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7330
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7324
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7330
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7333
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7334
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7329
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7335
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7333
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7327
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7336
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7327
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7342
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7335
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7337
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7335
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7340
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7339
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7342
Epoch 50/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5456 - accuracy: 0.7347
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7347
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7342
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7341
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7341
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7349
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7344
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7341
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7341
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7344
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7346
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7348
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7345
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7341
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7347
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7346
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7353
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7358
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7351
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7355
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7360
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7355
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5431 - accuracy: 0.7358
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7357
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7355
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5429 - accuracy: 0.7352
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7357
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7356
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7364
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7357
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7357

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5590 - accuracy: 0.7300 - 502ms/epoch - 2ms/step
Loss: 0.5590354800224304, Accuracy: 0.7300291657447815

In [19]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_Optimization.h5")